doctype html
html
  head
    title= title
    link(rel="apple-touch-icon", href="img/apple-touch-icon-precomposed.png")
    link(rel="apple-touch-icon", sizes="76x76" href="img/apple-touch-icon-76x76-precomposed.png")
    link(rel="apple-touch-icon", sizes="120x120" href="img/apple-touch-icon-120x120-precomposed.png")
    link(rel="apple-touch-icon", sizes="152x152" href="img/apple-touch-icon-152x152-precomposed.png")
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap-theme.min.css')  
    link(rel='javascript', href='/bower_components/angular/angular.js')
    link(rel='javascript', href='/bower_components/bootstrap/dist/js/boostrap.min.js')
    link(rel='stylesheet', href='/styles/main.css')
        
  body
    block content
      
          
